

<html>
  <head>



          <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.js"></script>



<link href="https://cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.css" rel="stylesheet"/>
    <title>Insert Info Form</title>
    <style>
      label {
        display: inline-block;
        width: 150px;
        text-align: right;
        padding-right: 10px;
      }
      input[type="text"], input[type="number"] {
        width: 250px;
        height: 30px;
        border-radius: 5px;
        border: 1px solid gray;
        margin-bottom: 20px;
      }

      textarea{
          width: 300px;
        height: 80px;
        border-radius: 5px;
        border: 1px solid gray;
        margin-bottom: 20px;

      }
      input[type="radio"] {
        margin-right: 10px;
      }

      select {
   width:178px !important;
   height:27px !important;
   margin-top:6px !important;
   direction:rtl !important;
   text-align:right !important;
   margin: 0 auto;
   float: right;
}

    </style>

{% load google_translate %}

  </head>
<body class="{% if language == 'he' %}rtl{% endif %}">


<script style="margin-bottom: 10px;">
  $(document).ready(function() {
    $('#num_messages').change(function() {
      updateMessageDates();
      updateMessagePhotos();
    });
  });
</script>

<script style="margin-bottom: 10px;">
  function updateMessageDates() {
    // Get the number of messages
    var numMessages = $('#num_messages').val();
    // Clear the existing message date fields
    $('#message_dates').empty();
    // Add the necessary number of message date fields
    for (var i = 0; i < numMessages; i++) {
      $('#message_dates').append(
        '<div style="margin-bottom: 10px;">' +
          '<label for="message_' + i + '_date" style="font-weight: bold;">Date and time of message ' + (i+1) + ':</label>' +
          '<input type="date" name="message_' + i + '_date" id="message_' + i + '_date" placeholder="dd-mm-yyyy"  required>' +
          '<input type="time" name="message_'+i+'_time" id="message_'+i+'_time" min="00:00" max="23:59" required  required>' +
        '</div>',


      );
    }
  }

</script>

 <title>HTML If Statement Example</title>



    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


<!DOCTYPE html>
<html>
<head>
    <title>Google Translation</title>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script>
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'ar,en,iw', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, multilanguagePage: true, autoDisplay: false }, 'google_translate_element');
            $('.goog-te-menu-value').on('DOMSubtreeModified', 'span', function(){
                   language = $(".goog-te-menu-value span").html();

                    if (language === "Arabic" || language === "Hebrew") {
                        $('#theContent').css('direction', 'rtl');
                        $('form').css('direction', 'rtl');

                    }

                    else{
                        $('#theContent').css('direction', 'ltr');
                        $('form').css('direction', 'ltr');


                    };
                });
        };
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</head>
<body>
    <div id="theContent">
        <div id="google_translate_element" ></div>
    </div>

    <form action="{% url 'insert_info' %}" method="post" style="width: 600px; margin: 0 auto; background-color: #f5f5f5; padding: 20px;" >
      {% csrf_token %}

     <h2> Personal information about you:</h2>
<br>

      <p>
        <label for="full_name">Full Name:</label>
        <input type="text" name="full_name" id="full_name" required>
      </p>
      <p>
        <label for="Userid">User ID:</label>
        <input type="number" name="Userid" id="Userid" required>
      </p>
      <p>
        <label for="full_address">Full Address:</label>
        <input type="text" name="full_address" id="full_address" required>
      </p>
      <p>
        <label for="userphone">User Phone:</label>
        <input type="text" name="userphone" id="userphone" required>
      </p>
    <h2>  information about the Company:</h2>
<br>
        <p>
        <label for="companyname">Company Name:</label>
        <input type="text" name="companyname" id="companyname" required>
      </p>
      <p>
        <label for="companyid">Company ID:</label>
        <input type="number" name="companyid" id="companyid" required>
      </p>
      <p>
        <label for="companyfulladdress">Company Full Address:</label>
        <input type="text" name="companyfulladdress" id="companyfulladdress" required>
      </p>
      <p>
        <label for="companycity">Company City:</label>
        <input type="text" name="companycity" id="companycity" required>
      </p>
      <p>
        <label for="companyphone">Company Phone:</label>
        <input type="text" name="companyphone" id="companyphone" required>
      </p>
      <p>
        <label for="typeofwork">The Type of Work the company does:</label>
        <input type="text" name="typeofwork" id="typeofwork" required>
<p style="color: blue;">(for example Fast food)</p>
        <br>
      </p>
        <h2> Personal information about the Company CEO:</h2>
<br>
      <p>
        <label for="netba">CEO Name:</label>
        <input type="text" name="netba" id="netba" required>
      </p>
      <p>
        <label for="netbaid">CEO ID:</label>
        <input type="number" name="netbaid" id="netbaid" required>
      </p>
      <p>
        <label for="netbaadress">CEO Address:</label>
        <input type="text" name="netbaadress" id="netbaadress" required>
      </p>
      <p>
        <label for="netbaphone">CEO Phone:</label>
        <input type="text" name="netbaphone" id="netbaphone" required>
      </p>
        <h2>  Information about the case:</h2>
<br>

<select name="city" align="center"  dir="rtl"  style="float:right>
     <option value="אשקלון">בית משפט השלום אשקלון</option>
      <option value="אשדוד">בית משפט השלום אשדוד</option>
      <option value="קרית-גת">בית משפט השלום קרית-גת</option>
      <option value="דימונה">בית משפט השלום דימונה</option>
      <option value="אילת">בית משפט השלום אילת</option>
      <option value="ירושלים">בתי משפט מחוז ירושלים</option>
      <option value="ירושלים">בית המשפט השלום ירושלים</option>
      <option value="בית-שמש">בית המשפט השלום בית-שמש</option>
      <option value="כפר-סבא">בית משפט השלום כפר-סבא</option>
      <option value="ראשון לציון">בית משפט השלום ראשון לציון</option>
      <option value="פתח-תקוה">בית משפט השלום פתח-תקוה</option>
      <option value="רמלה">בית משפט השלום רמלה</option>
      <option value="רחובות">בית משפט השלום רחובות</option>
      <option value="נתניה">בית משפט השלום נתניה</option>
    <option value="הרצליה">בית משפט השלום הרצליה</option>
    <option value="מחוז חיפה">בתי משפט מחוז חיפה</option>
    <option value="קריות">בית משפט השלום קריות</option>
    <option value="חיפה">בית משפט השלום חיפה</option>
    <option value="עכו">בית משפט השלום עכו</option>
    <option value="חדרה">בית משפט השלום חדרה</option>
    <option value="נהריה">בית משפט השלום נהריה</option>
    <option value="מחוז נצרת">בתי משפט מחוז נצרת</option>
    <option value="נצרת">בית משפט השלום נצרת</option>
    <option value="טבריה">בית משפט השלום טבריה</option>
    <option value="בית-שאן">בית משפט השלום בית-שאן</option>
    <option value="צפת">בית משפט השלום צפת</option>
    <option value="עפולה">בית משפט השלום עפולה</option>
    <option value="קרית-שמונה">בית משפט השלום קרית-שמונה</option>
    <option value="קצרין">בית משפט השלום קצרין</option>
    <option value="מסעד">בית משפט השלום מסעד</option>

</select>
    <p style="color: blue;">(The court you plan to sue)</p>
<br>
        <p>
<label for="num_messages" >Number of spam messages received:</label>
    <input type="number" name="num_messages" id="num_messages" min="1"   required>
    <!-- Date and time of messages -->
    <div id="message_dates"  >
      {% for i in range %}
        <div style="margin-bottom: 10px;">
          <label for="message_{{ i }}_date"  >Date and time of message {{ i }}:</label>
            <input type="datetime-local" name="message_{{ i }}_date" id="message_{{ i }}_date"   required>
        </div>
      {% endfor %}
    </div>
  <label for="unsubscribed">Unsubscribed:</label>
  <input type="radio" name="unsubscribed" id="yes" value="yes">Yes
  <input type="radio" name="unsubscribed" id="no" value="no">No
</p>
    <br>
        <h2> what happened so far:</h2>
<br>
<p align="center">
  <label for="whatdidyoudo">What did you do?</label>
    <br>
  <textarea name="whatdidyoudo" id="whatdidyoudo" rows="6" required></textarea>
</p>

        <p style="color: blue;">(for example: i sent an alert letter)</p>

<p align="center"><br>
  <label for="companyresponse" > Company Response:</label>
    <br>
  <textarea name="companyresponse" id="companyresponse" rows="6"></textarea>
</p>
            <p style="color: blue;">(for example: the company did not reply to the alert letter)</p>

    <br>
    <br>




       <button type="submit" style="width: 100%; margin-bottom: 10px; padding: 12px; background-color: #4caf50; color: white; font-weight: bold; border: none; border-radius: 4px; cursor: pointer;">Submit</button>
</p>

    </div>


    </form>


  </body>
</html>

